{% comment %}
  Plugin disclaimer atom component
  @param classes - Additional CSS classes
{% endcomment %}

<div class="my-8 p-5 bg-rust/10 border border-rust/20 rounded-lg text-sm shadow-sm {{ include.classes }}">
  <strong class="block mb-2 text-rust font-medium">Disclaimer:</strong> 
  <p class="text-gray-300">
    The Rustyll Core Team does not endorse the Rust code in this tutorial and is
    not liable to resolve any bugs therein or issues arising otherwise from the use of the
    provided example(s) in production builds.
  </p>
</div> 