{% comment %}
  Terminal Button Atom
  @param text - Button text
  @param id - Button ID for JavaScript targeting
  @param class - Additional CSS classes
{% endcomment %}

<button id="{{ include.id }}" class="terminal-button-atom px-4 py-2 rounded-lg bg-black/60 backdrop-blur-xl border border-rust/20 text-white hover:bg-black/80 hover:border-rust/40 transition-all duration-300 shadow-lg shadow-rust/5 hover:shadow-rust/20 group {{ include.class }}">
  <span class="relative inline-flex items-center">
    <span class="absolute w-2 h-2 rounded-full bg-rust/80 left-0 -ml-3 opacity-0 group-hover:opacity-100 group-hover:animate-ping"></span>
    {{ include.text }}
    <svg class="w-4 h-4 ml-2 transition-transform duration-200 group-hover:translate-x-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
    </svg>
  </span>
</button> 