<script>
/* Creates an anchor element with the given ID and link for the permalink*/
const anchorForId = (id) => {
  const anchor = document.createElement("a");
  anchor.className = "ml-2 text-gray-400 hover:text-rust transition-colors duration-200 inline-block";
  anchor.href = `#${id}`;
  anchor.innerHTML = `
    <span class="sr-only">Permalink</span>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
    </svg>
  `;
  anchor.title = "Permalink";
  return anchor;
};

/* Finds all headers of the specified level within the given element, and adds a permalink to each header*/
const linkifyAnchors = (level, containingElement) => {
  const headers = Array.from(containingElement.getElementsByTagName(`h${level}`));
  headers.forEach((header) => {
    if (header.id) {
      header.appendChild(anchorForId(header.id));
    }
  });
};

/* Executes the function when the document is ready */
document.onreadystatechange = () => {
  if (document.readyState === "complete") {
    const contentBlock = document.querySelector('article');
    if (!contentBlock) { return; }
    for (let level = 1; level <= 6; level++) {
      linkifyAnchors(level, contentBlock);
    }
  }
};
</script>
