{%- include top.html -%}

<body id="top" class="bg-blackish text-gray-100 font-sans min-h-screen flex flex-col">
  <a class="skip-link" href="#main-content">Skip to content</a>
  {%- include header.html -%}

  <main id="main-content" tabindex="-1" class="flex-grow">
    {{- content -}}
  </main>

  {%- include footer.html -%}
  {%- include anchor_links.html -%}
  {%- include analytics.html -%}
  {%- include search/script.html -%}
  
  <script>
  {%- comment -%}
  // This function is called when the user selects an option from a <select> element.
  // If the selected option has a valid URL, it changes the window location to that URL.
  {%- endcomment %}
  const navigateToUrl = (select) => {
    const url = select.value;
    url && (window.location.href = url);
  };
  </script>
</body>
</html>
